asttokens
beautifulsoup4
bs4
decorator
executing
ipdb
ipython
ipython_pygments_lexers
jedi
matplotlib-inline
parso
pexpect
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
soupsieve
stack-data
tqdm
traitlets
typing_extensions
wcwidth
